
.modalBackground {
    width: 100vw;
    height: 100vh;
    background-color: rgb(33, 33, 33, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 40px;
    border-radius: 6px;
    overflow: hidden;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;

}

.modalContainer .title {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    font-family: 'Rodfat', Arial, sans-serif;

    h3 {
        margin: 0;
        padding: 0;
    }
}

.titleCloseBtn button {
    width: 25px;
    height: 25px;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 25px;
    right: 25px;
    background-color: transparent;
    border: none;
    cursor: pointer;

    svg {
        width: 100%;
        height: 100%;
        fill: #b1b1b1;
        transition: all 0.3s ease;
    }
    &:hover {
        svg {
            fill: #000;
        }
    }
}

.modalContainer .body {
    width: 700px;
    flex: 1;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    form {
        margin-top: 20px;
        width: 100%;
    }
    textarea {
        width: 100%;
        height: 240px;
        resize: vertical;
    }
}

.modalContainer .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

.modalContainer .footer button {

}

#cancelBtn {

}
